/* BOUTON CHANGEMENT DE THEME ---*/
@media (prefers-color-scheme: dark) {#theme-toggle-button .moon{display: none}}
@media (prefers-color-scheme: light) {#color-scheme-toggle .sun{display: none}}
.color-scheme-toggle,
[data-color-scheme=  "light  "] #theme-toggle-button .moon,
[data-color-scheme=  "dark  "] #theme-toggle-button .sun {display: block;width: 100%;}

[data-color-scheme=  "dark  "] #theme-toggle-button .moon,
[data-color-scheme=  "light  "] #theme-toggle-button .sun {display: none}

/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 20px;
  position: relative;
  display: inline-block;
  width: 8em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle, input#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
